#cabecalho{
    text-align: center;
    border-bottom:  3px solid black;
    margin-bottom: 20px;

}

#cabecalho nav li{
    display: inline-block;
    color: white;
    border-bottom: 5px;
    
}

#cabecalho nav li a{
    display: block;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: black;
    
}

#cabecalho nav li a:hover{
    color: orange;  
}





.rodape{
    text-align: center;
    margin-top: 20px;
}

.kkk{
    text-align:center;
}

.rodape{
    text-align: center;
    border-top:  3px solid black;
    margin-bottom: 20px;
    
}

.hh{
    text-align: center;
    margin-bottom: 40px;
}

.pp{
    margin-top: 20px;
}




